/* Created by: Santiago Hewett
 * Modified by: Santiago Hewett
 * Created on: May 2023
 * This CSS file defines the style for index.php
 * ICS2O-Unit5-03-PHP-Factorial
*/

form {
  background-color:#ff3d5a; 
  padding: 20px;
  width: 80%;
  margin-left: 10%;

}

h1 {
  background-color: #bf94f5;
  text-align: center;
  padding: 20px;
  width: 80%; 
  margin-left: 10%;

}

h3 {
  background-color: #6fe286;
  text-align: center;
  padding: 20px;
  width: 80%;
  margin-left: 10%;

}



p {
  width: 80%;
  margin-left: 10%;

}



iframe {
  margin-bottom: 5%;
  background-color:#82b8f2;
  padding: 20px;
  width: 80%;
  margin-left: 10%;
  margin-top: 15px;

}



#yellow {
  background-color:#d243f9;
  padding: 20px;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 30px;

}